/*FONTS*/
$audio: 'Audiowide', cursive;
/*Regular 400*/
$roboto: "Roboto", sans-serif;
/*Regular 400- Bold 700*/

/*MEDIA*/
$mobile: "screen and (max-width:500px)";
$tablet: "screen and (min-width:501px) and (max-width: 850px)";

/* COLORES */
$blanco: white;
$negro: black;